.btn {
  background-color: var(--color-grey-0);
  border-radius: var(--border-radius-sm);
  font-weight: 500;
  font-size: 1.4rem;
  padding: 0.44rem 0.8rem;
  transition: all 0.3s;

  &--active,
  &:hover {
    background-color: var(--color-brand-dark);
    color: var(--color-brand-light);

    & svg {
      fill: var(--color-brand-dark);
    }
  }

  &--icon {
    background: none;
    border: none;
    padding: 4px 6px;
    margin: 5px 1px;
    border-radius: var(--border-radius-sm);

    & svg {
      width: 2rem;
      height: 2rem;
      color: var(--color-grey-400);
      transition: fill 0.3s;
    }

    &:hover {
      background-color: transparent;

      & svg {
        fill: var(--color-brand-dark);
      }
    }
  }

  &--excluded {
    background: none;
    border: none;
    padding: 4px 6px;
    margin: 5px 1px;
    border-radius: var(--border-radius-sm);

    & svg {
      width: 2.4rem;
      height: 2.4rem;
      color: var(--color-quintenary-dark);
    }

    &:hover {
      background-color: transparent;

      & svg {
        fill: var(--color-quintenary-dark);
      }
    }
  }

  &--darkmode {
    background: none;
    border: none;
    padding: 4px 6px;
    margin: 5px 1px;
    border-radius: var(--border-radius-sm);

    & svg {
      width: 2.4rem;
      height: 2.4rem;
      color: var(--color-brand-dark);
    }

    &:hover {
      background-color: transparent;

      & svg {
        fill: transparent;
      }
    }
  }

  &--print {
    background: none;
    border: none;
    padding: 4px 6px;
    margin: 5px 1px;
    border-radius: var(--border-radius-sm);

    & svg {
      width: 2.4rem;
      height: 2.4rem;
      color: var(--color-brand-dark);
    }

    &:hover {
      background-color: transparent;

      & svg {
        fill: transparent;
      }
    }
  }

  &--hidden {
    display: none;
  }

  &--attribute {
    border: 1px solid var(--color-grey-100);
    white-space: nowrap;
  }
}
