WebApp
{
  Schema
  {
    Applications
    {
#Task Manager = IHEPDIRAC.TaskManager
      Site Status Monitor = IHEPDIRAC.SiteStatusMonitor
#SAM History = IHEPDIRAC.SAMHistory
    }
  }
  Dependencies
  {
  }
}
