.minitable {
  margin: 1rem 0rem;

  &--hidden {
    display: none;
  }

  &__header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.2rem;
    align-items: center;

    font-size: 1.4rem;
    font-weight: 600;
    padding: 0.8rem 0.5rem;
    border-bottom: 1px solid var(--color-grey-100);

    &:first-child {
      border-top: 1px solid var(--color-grey-100);
    }
  }

  &__row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.2rem;
    align-items: center;

    font-size: 1.4rem;
    padding: 0.8rem 0.5rem;
    border-bottom: 1px solid var(--color-grey-100);

    &:first-child {
      border-top: 1px solid var(--color-grey-100);
    }
  }

  &__tags {
    display: flex;
    flex-wrap: wrap;
    gap: 0.2rem;

    @media only screen and (max-width: $bp-small) {
      display: none;
    }
  }

  &__tags span {
    width: fit-content;
    font-size: 1.1rem;
    font-weight: 600;
    padding: 0.4rem 1.2rem;
    border-radius: 100px;
    background-color: var(--color-grey-100);
  }
}

.modal {
  .minitable {
    &__row {
      grid-template-columns: 1fr 1fr;
    }
  }
}
