body{
    margin: 0;
    padding: 0;
    background: black;
}

.header{
    width: 100%;
    background-color: white;
    height: 70px;
    position: relative;

}

.header h1{
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: monospace;
    font-style: normal;
    font-size: 35px;
    display: inline-block;
}

.header img{
    position: absolute;
    top: 50%;
    left: 90%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
}

.input{
    width: 100%;
}



.input .default_input input {
    width: 350px;
    height: 50px;
    border: 0;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    text-align: center;
    margin-top: 20px; 
    margin-left: 50%;
    transform: translate(-50%);
}

.input .default_input input::placeholder{
    opacity: 0.5;
}

.input .default_input input:focus{
    outline: 0;
}

.input .current{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 30px;
}

.input .current .left{
    display: grid;
}

.input .current .right{
    display: grid;
    grid-template-rows: 40px
}

.input .current .left .language{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 10px;
}

.input .current .left .language .name{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 30px;
    text-align: right;
    
}

.input .current .left .language .name p{
    margin: 0;
}



.input .current .left .language .tick input{
    width: 20px;
    height: 20px;
    margin-left: 20px;
    margin-top: 9px;
    border-radius: 10px;
}
.input .current .right p{
    color: white;
    margin-top: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    margin: 0;

}
.input .current .right select{
    width: 175px;
    height: 35px;
    border-radius: 10px;
    border: 0;
}

.send{
    margin-top: 50px;
}

.send button{
    width: 350px;
    height: 50px;
    border: 0;
    border-radius: 10px;
    margin-left: 50%;
    transform: translate(-50%);
    background-color: rgb(232, 255, 208);
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(83, 83, 83);
}